In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Customersbd.csv', encoding='unicode_escape')

df.to_csv('Customersbd_utf8.csv', index=False, encoding='utf-8')

In [3]:
data = pd.read_csv('Customersbd_utf8.csv', encoding='unicode_escape')

In [4]:
data.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [6]:
data.isnull().sum()

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [10]:
data = data.dropna(axis = 1)

In [11]:
data.isnull().sum()

CustomerKey    0
Gender         0
Name           0
City           0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [12]:
data['Birthday'] = pd.to_datetime(data['Birthday'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_32200\3613473388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Birthday'] = pd.to_datetime(data['Birthday'])

In [13]:
data.head()

,CustomerKey,Gender,Name,City,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,Victoria,3698,Australia,Australia,1965-11-19

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15266 entries, 0 to 15265
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State        15266 non-null  object
 5   Zip Code     15266 non-null  object
 6   Country      15266 non-null  object
 7   Continent    15266 non-null  object
 8   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 1.2+ MB

In [15]:
data.to_csv('cleaned_customers.csv')